.App {
  /* text-align: center; */
  background-color: rgb(194, 196, 197);
  display: flex;
  justify-content: space-evenly;
  
}
.movieCard{
  width: 500px;
  /* margin: 0 auto; */
  padding: 2em;
  background-color: rgb(232, 234, 235);

}
.title{
  background-color: #fff;
  border-radius: 15px;
  padding: 0.5em;
  margin-bottom: 2em;
}
.movieBotom{
  background-color: #fff;
  padding: 3em;
  margin-top: -2em;
  border-radius: 15px;
}
.imgDiv{
  /* width: 300px; */
}
img{
  border-radius: 10px;
  width: 100%;
  object-fit: contain;
}
.movieDetails{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.release{
  font-weight: 600;
}
.movieDetailsTitle{
  font-size: 20px;
  font-weight: 600;
  color:rgb(194, 196, 197);
}


.search{
  width: 400px;
  
}
.innerSearch{
  background-color: #fff;
  /* height: 80px; */
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 0.1em 1em;
  margin-top: 2em;
}
input{
  width: 320px;
  padding: 0.5em 1em;
  border: none;
  font-size: 16px;
  outline: none;
}
.btn{
  border: none;
  background-color: #fff;
  font-size: 22px;
  outline: none;
  cursor: pointer;
}
li{
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  background-color: #fff;
  height: 80px;
  margin: 1em 0;
  padding-right: 2em;
  border-radius: 5em;
  cursor: pointer;
  text-align: center;
}
.searchImg img{
  height: 70px;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column-reverse;
  }

  .movieCard{
    width: 80%;
    margin: 2em auto;
  }
  .search{
    width: 300px;
    margin: 0 auto;
    
  }
  .innerSearch{
    margin: 1em auto;
  }
}